#playingField {
    position: relative;
    top: 50px;
    left: 2%;
}

#ball {
    position: absolute;
}

#paddle {
    position: absolute;
    background-color: #aaa;
}
#paddleTwo {
    position: absolute;
    background-color: #aaa;
}

#instructions {
    display : block;
    position: relative;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    padding : 10px;
    background-color: white;
    border : 2px solid red;
    border-radius: 5px;
    width: 15%;
    text-align: center;
}
#scorePanel {
    position: absolute;
    top: 0px;
    left: 150px;
    width: 300px;
    height: 20px;
    background-color: white;
    border: 1px solid red;
    border-radius: 4px;
    text-align: center;
}

#playerScorePanel {
    position: absolute;
    bottom: 0px;
    left: 150px;
    width: 300px;
    height: 20px;
    background-color: white;
    border: 1px solid red;
    border-radius: 4px;
    text-align: center;
}