html{
    background-image:url("/img/denver.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:top;
}
body{
    padding:0px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(186,187,190,0.68) 26%, rgba(156,157,159,1) 38%, rgba(17,17,17,1) 93%, rgba(17,17,17,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(26%,rgba(186,187,190,0.68)), color-stop(38%,rgba(156,157,159,1)), color-stop(93%,rgba(17,17,17,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.68) 26%,rgba(156,157,159,1) 38%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.68) 26%,rgba(156,157,159,1) 38%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.68) 26%,rgba(156,157,159,1) 38%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.68) 26%,rgba(156,157,159,1) 38%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#111111',GradientType=0 ); /* IE6-9 */


}

#content h2{
    text-shadow: 0 1px 0 #fff;
    margin-left:2%;
}

#container{
    display:block;
    width:100%;
    height:80%;
    clear:both;
}

.Lside {
    width: 60%;
    margin-left: 2%;
    float:left;
    
}

#content > .table{
    border-collapse: inherit;
    background-color:#181818;
    color:#f5f5f5;
    width:60%;
    margin-left:2%;
    border:2px inset;
    float:left;
}

.Rside{
    width:30%;
    margin-right: 2.5%;
    float:right;
    padding:2%;
    max-height: 300px;
    overflow: auto;
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    color:#333;
}
.well > h3{
    margin-top:0px;
}


@media (max-width: 979px){
    

    
    body{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(186,187,190,0.79) 19%, rgba(175,176,178,1) 24%, rgba(17,17,17,1) 93%, rgba(17,17,17,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(19%,rgba(186,187,190,0.79)), color-stop(24%,rgba(175,176,178,1)), color-stop(93%,rgba(17,17,17,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.79) 19%,rgba(175,176,178,1) 24%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.79) 19%,rgba(175,176,178,1) 24%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.79) 19%,rgba(175,176,178,1) 24%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.79) 19%,rgba(175,176,178,1) 24%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#111111',GradientType=0 ); /* IE6-9 */

}
    .Lside {
    width: 92%;
    padding:2%;
    margin-left: 2%;
    float:none;
    }
    
    #content > .table{
        width:96%;
        margin-left:2%;
        float:none;
    }
    
    .Rside{
        width:91%;
        float:none;
        margin-left:2%;
    }
}

@media (max-width: 767px){
    
    html{
        background-image: url("/img/denver-longest.png");
    }
    
    body{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(186,187,190,0.71) 17%, rgba(170,171,174,1) 24%, rgba(17,17,17,1) 93%, rgba(17,17,17,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(17%,rgba(186,187,190,0.71)), color-stop(24%,rgba(170,171,174,1)), color-stop(93%,rgba(17,17,17,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.71) 17%,rgba(170,171,174,1) 24%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.71) 17%,rgba(170,171,174,1) 24%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.71) 17%,rgba(170,171,174,1) 24%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(186,187,190,0.71) 17%,rgba(170,171,174,1) 24%,rgba(17,17,17,1) 93%,rgba(17,17,17,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
    }
    #content > .table{
        width:96%;
        margin-left:2%;
        margin-right:0px;
    }
    .Rside{
        width:91%;
        float:none;
        margin-left:2%;
        margin-right:0px;
    }
}