<script src= "/js/calculator.js"></script>
    <div id="change-calc-features" class="well Rside">
    <div id="background-colors">
    <h4>Style This Calculator</h4>
        <p><strong>Select Background Color:</strong></p>
        <ul class="feature-options">
            <li><button type="button" class="colorButtons redButton" onclick="backgroundColor.red()">Red</button></li>
            <li><button type="button" class="colorButtons greenButton" onclick="backgroundColor.green()">Green</button></li>
            <li><button type="button" class="colorButtons yellowButton" onclick="backgroundColor.yellow()">Yellow</button></li>
            <li><button type="button"  class="colorButtons blueButton" onclick="backgroundColor.blue()">Blue</button></li>
            <li><button type="button" class="colorButtons purpleButton" onclick="backgroundColor.purple()">Purple</button></li>
            <li><button type="button" class="colorButtons orangeButton" onclick="backgroundColor.orange()">Orange</button></li>
            <li><button type="button" class="colorButtons whiteButton" onclick="backgroundColor.white()">White</button></li>
            <li><button type="button" class="colorButtons blackButton" onclick="backgroundColor.black()">Black</button></li>
        </ul>
    </div>
    <div id="button-colors">
        <p><strong>Select Button Color:</strong></p>
        <ul class="feature-options">
            <li><button type="button" class="colorButtons redButton" onclick="buttonColor.red()">Red</button></li>
            <li><button type="button" class="colorButtons greenButton" onclick="buttonColor.green()">Green</button></li>
            <li><button type="button" class="colorButtons yellowButton" onclick="buttonColor.yellow()">Yellow</button></li>
            <li><button type="button" class="colorButtons blueButton" onclick="buttonColor.blue()">Blue</button></li>
            <li><button type="button" class="colorButtons purpleButton" onclick="buttonColor.purple()">Purple</button></li>
            <li><button type="button" class="colorButtons orangeButton" onclick="buttonColor.orange()">Orange</button></li>
            <li><button type="button" class="colorButtons whiteButton" onclick="buttonColor.white()">White</button></li>
            <li><button type="button" class="colorButtons blackButton" onclick="buttonColor.black()">Black</button></li>
        </ul>
    </div>
    <div id="border-colors">
        <p><strong>Select Border Color:</strong></p>
        <ul class="feature-options">
            <li><button type="button" class="colorButtons redButton" onclick="borderColor.red()">Red</button></li>
            <li><button type="button" class="colorButtons greenButton" onclick="borderColor.green()">Green</button></li>
            <li><button type="button" class="colorButtons yellowButton" onclick="borderColor.yellow()">Yellow</button></li>
            <li><button type="button" class="colorButtons blueButton" onclick="borderColor.blue()">Blue</button></li>
            <li><button type="button" class="colorButtons purpleButton" onclick="borderColor.purple()">Purple</button></li>
            <li><button type="button" class="colorButtons orangeButton" onclick="borderColor.orange()">Orange</button></li>
            <li><button type="button" class="colorButtons whiteButton" onclick="borderColor.white()">White</button></li>
            <li><button type="button" class="colorButtons blackButton" onclick="borderColor.black()">Black</button></li>
        </ul>
    </div>
</div>
