<div class="well Rside">
    <h3>My Skill Set</h3>
    <div>
    
    <p>HTML5</p>
    <div class="progress progress-striped active">
          <div class="bar" style="width: 90%;"></div>
    </div>
    
    <p>CSS</p>
    <div class="progress progress-striped active">
          <div class="bar" style="width: 80%;"></div>
    </div>
    
    <p>JavaScript</p>
    <div class="progress progress-striped active">
          <div class="bar" style="width: 75%;"></div>
    </div>
    
    <p>jQuery</p>
    <div class="progress progress-striped active">
          <div class="bar" style="width: 70%;"></div>
    </div>
    
     <p>Bootstrap</p>
    <div class="progress progress-striped active">
          <div class="bar" style="width: 80%;"></div>
    </div>
    
     <p>Joomla!</p>
    <div class="progress progress-striped active">
          <div class="bar" style="width: 90%;"></div>
    </div>
    
     <p>SEO</p>
    <div class="progress progress-striped active">
          <div class="bar" style="width: 70%;"></div>
    </div>
    </div>
</div>