<div class="well skills">
    <h3>My Skill Set</h3>
    <div>
    
    <p>HTML5</p>
    <p class="pull-right">Very Confident</p>
    <div class="progress progress-striped active">
          <div class="bar" style="width: 95%;"></div>
    </div>
    
    <p>CSS</p>
    <p class="pull-right">Very Confident</p>
    <div class="progress progress-striped active">
          <div class="bar" style="width: 90%;"></div>
    </div>
    
    <p></p>JavaScript
    <p class="pull-right">Confident</p>
    <div class="progress progress-striped active">
          <div class="bar" style="width: 60%;"></div>
    </div>
    </div>
</div>