<html>
<head>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="/css/template.css" type="text/css" rel="stylesheet"/>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
  
  <header id="mainHeading">
  <h1 id="mainHeadingText"> Laura's Code Blog </h1>
  </header>
  
  {% include menu.html %}
  
  <div id="content">
    {{ content }}
  </div>
  
   {% include footer.html %}
  
</body>
</html>